h1 {
    font-size: 100px; 
    color:rgb(255, 255, 255); 
    text-align: center;
}

label {
    width: fit-content;
    height: 60px; 
    font-size: 40px;
    background-color: hsl(131, 100%, 50%); 
    color: #ffffff; 
    border: 3px solid #000; 
    border-radius: 5px; 
    padding: 0.3%;
}

button{
    width:fit-content;
    height: 60px; 
    font-size: 18px;
    background-color: #007bff;
    color: #ffffff; 
    border: 3px solid #000; 
    border-radius: 5px; 
    cursor:pointer;
}

button:hover {
  background-color: rgb(212, 173, 230);
}

  body
{
    background-image: url('BingoBackground.jpeg'); 
    background-size: cover; 
}

#barra-horizontal button{
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: white;
    margin-left: 10px;
  }

#barra-horizontal {
    transform: translate(-50%, -50%);
    position:fixed;
    top:25%;
    left:43%;
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    margin-left: 100px;
  }

#barra-horizontal label{
    display: flex;
    justify-content:center;
    align-items: center;
    color:black;
    background-color: aquamarine;
    margin-left: 10px;
  }

  #barra-horizontal select{
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    margin-left: 10px;
    width: 60px;
    height: 60px; 
  }

#Cartón {
    border-collapse: collapse;
    width: 400px;
    height: 400px;
    border: 5px solid black;
    padding: 8px;
    margin: 0 auto;
    background-color: #ffffff;
    display: none;
  }
#Cartón td {
    border: 5px solid black;
    text-align: center;
    font-size: 40px;
  }

#on {
  transform: translate(-50%, -50%);
  position:fixed;
  top:90%;
  left:70%;
  border: 8px solid black;
  border-radius: 10px;
  background-color: aquamarine;
  width: 250px;
  height: 90px;
  color:black;
  text-align: center;
  font-size: 20px;
}
#on:hover {
  background-color: rgb(212, 173, 230);
}
#hide:hover {
  background-color: rgb(212, 173, 230);
}
#hide {
  transform: translate(-50%, -50%);
  position:fixed;
  top:90%;
  left:55%;
  border: 8px solid black;
  border-radius: 10px;
  background-color: aquamarine;
  width: 250px;
  height: 90px;
  color:black;
  text-align: center;
  font-size: 20px;
}

#CustomConfirm {
  transform: translate(-50%, -50%);
  position:fixed;
  top:45%;
  left:20%;
  border: 8px solid black;
  border-radius: 10px;
  background-color: aquamarine;
  width: 370px;
  height: 160px;
  color:black;
  text-align: center;
  font-size: 20px;
}

#Reiniciar {
  background-color:brown;
}