h1 {
    font-size: 100px; 
    color:rgb(255, 255, 255); 
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    text-align: center;
    width: 220px; /* Ancho del botón */
    height: 20px; /* Altura del botón */
    font-size: 18px;
}

label {
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid #000;
    width: 100px;
}

button{
    width: 200px; /* Ancho del botón */
    height: 60px; /* Altura del botón */
    font-size: 18px; /* Tamaño del texto del botón */
    background-color: #007bff; /* Color de fondo del botón (azul en este ejemplo) */
    color: #ffffff; /* Color del texto del botón (blanco en este ejemplo) */
    border: 3px solid #000; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    cursor:pointer;
}

body
{
    background-image: url('BingoBackground.jpeg'); 
    background-size: cover; 
}